/*导航开始*/
body{
  font-family: "微软雅黑";
}


.wrapper{
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 900px){
  .wrapper {
    width: 720px;
  }
}

@media (max-width: 900px) {
  .app-motto{
    text-align: center;
  }
  .app-logic{
    text-align: center;
  }
  .app-logic a.submit{
    margin: 0 auto;
  }
}


@media (min-width: 992px){
  .wrapper {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1280px;
  }

}


.app-navbar{
  height: 56px;
  background-color: white;
  border:none;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
}
.app-brand{
  padding: 12px 0;
  font-size: 30px;
  color: #e74f4d;
  font-style: normal;
}
.app-navbar .app-title{
  margin-left: 10px;
  color: #000000;
  font-weight: 600;
 }
.app-navbar-bar li:hover,
.app-navbar-bar li.active{
  border-bottom: 4px solid #e74f4d;
  bottom: -2px;
}
.navbar-nav .logic a{
  color: #e74f4d;
}
/*轮播图开始*/
.app-banner{
  position: relative;
  width: auto;
  /*z-index: -1;*/
  /*height: 690px;*/
  /*background: url("../img/ban.jpg");*/

}
.app-banner .app-slogan{
  position: absolute;
  top: 20%;
}
.app-slogan h1{
  font-size: 60px;
  color: #ffffff;
}
.app-slogan h4{
  width: 70%;
  color: #ffffff;
  font-size: 21px;
  line-height: 1.5;
}
.app-slogan .btn{
  margin-top: 10%;
  color: #ffffff;
  background: #e74f4d;
  border-radius: 0;
  width: 80%;
  font-size: 30px;
  font-weight: 200;
}
.app-items{
  /*height: 255px;*/
}
.app-items .app-block{
  text-align: center;
}
.app-items .pic{
  padding: 17% 0;
  font-size: 40px;
  color: #e74f4d;
}
.app-items .tip{
  position: relative;
  margin: 0;
  margin-left: 25%;
  width: 50%;
  font-size: 14px;
  color: #767777;
}
.app-items .tip:after{
  content: "";
  width: 2px;
  height: 40px;
  display: block;
  position: absolute;
  left:150%;
  top: 0;
  background: #767777;
}

.app-world{
  text-align: center;
  background: #edecec;
}
.app-world i{
  margin-top: 15%;
  color: #e74f4d;
  font-size: 60px;
}
.app-world h1{
  margin-top: 4%;
  padding-bottom: 8%;
  color: #767777;
}
/*地图开始*/
.app-map{
  margin: 0;
  padding-top: 5%;
  text-align: center;
  height: 341px;
  background: url("../img/map.jpg");
}

.app-map h4{
  margin: 0;
  color: #ffffff;
}
.app-map p{
  color: #ffffff;
}
.app-select{
  position: relative;
}
.app-map .row input{
  padding: 6px;
  width: 72%;
  outline-color: #e74f4d;
}
.app-map .row .arrow-down{
  position: absolute;
  top: 25%;
  right: 19%;
  width: 18px;
  height: 18px;
  text-align: center;
  color: #ffffff;
  background: #e74f4d;
}
.app-map .search{
  margin: 0 auto;
  padding: 6px;
  width: 72%;
  background: #e74f4d;
}
/*下拉列表*/
.app-map .app-dropdown-menu{
  margin: 0;
  padding: 0;
  width: 72%;
  left: 14%;
  border-radius: 0;
  border-top: none;
  border-color: #e74f4d;
}
.app-map .app-dropdown-menu li{
  padding: 3px 0 3px 10px;
  font-size: 14px;
  text-align: left;
}
.app-map .app-dropdown-menu li:hover{
  background: #e74f4d;
  color: #ffffff;
}
.app-map .app-dropdown-menu li span{
  padding-right: 5%;
}
/*四张图片*/
.app-img{
  padding: 8% 0;
}
.app-img .img-group{
  margin: 0 auto;
  width: 216px;
  text-align: center;
}
.app-img .img-box{
  padding: 0 7px;
  width: 216px;
  height: 336px;
  line-height: 336px;
  border: 1px solid #eeeeee;
  background: #ffffff;
}
/*新世界开始*/

.app-new{
  text-align: center;
  height: 567px;
  background:url("../img/new-century.jpg");
  color: #ffffff;
}
.app-new h1{
  margin-top: 14%;
}
.app-new p{
  font-size: 120px;
}
.app-new:after{
  content: "";
  position: absolute;
  top: 45%;
  right: 0;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-right-color: #ffffff;
}
.app-new-word{
  text-align: center;
}
.app-new-word h4{
  margin-top: 38%;
  font-weight: 600;
}
.app-new-word h4 span{
  color: #e74f4d;
}
.app-new-word p{
  margin: 5% auto 0;
  width: 70%;
  text-align: left;
  line-height: 3;
  color: #aaaaaa;
}
.app-new-word a{
  margin: 10% auto;
  width: 25%;
  padding: 6px 0;
  display: block;
  color: #e74f4d;
  text-decoration: none;
  border: 1px solid #e74f4d;
}
.app-new-word a:hover{
  color: #ffffff;
  background-color: #e74f4d;
}

.app-time-word{
  text-align: center;
  /*color: #ffffff;*/
}
.app-time-word p{
  position: relative;
  margin-top: 40%;
  font-size: 16px;
}
.app-time-word p.second{
  margin-top: 0;
  padding-bottom: 5%;
}
.app-time-word p.second:after{
  content: "";
  position: absolute;
  left: 48%;
  bottom: 0;
  width: 20px;
  height: 2px;
  background: #eee;

}
.app-time-word a{
  margin: 4% auto 52%;
  width: 25%;
  padding: 6px 0;
  display: block;
  color: #e74f4d;
  text-decoration: none;
  border: 1px solid #e74f4d;
}

.app-time-word-one{
  color: #ffffff;
  background: #e74f4d;
}
.app-time-word-one a{
  color: #ffffff;
  border-color: #ffffff;
}
.app-time-word-one a:hover{
  color: #e74f4d;
  background-color: #ffffff;
}
.app-time-word-two a:hover{
  color: #ffffff;
  background-color: #e74f4d;
}
.app-time-word{}
.app-time{
  background: url("../img/new-time.jpg");
  height: 521px;
}
.app-time:after{
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-color: #ffffff;
}
/*成为自愿者*/
.app-volunteer{
  padding-bottom: 5%;
  text-align: center;
}
.app-volunteer h4{
  position: relative;
  margin-top: 9%;
}
.app-volunteer h4:after{
  content: "";
  width: 2%;
  height: 2px;
  background-color: #e74f4d;
  position: absolute;
  bottom: -60%;
  left: 49%;
}
.app-volunteer p{
  width: 39%;
  margin: 2% auto;
  color: #aaaaaa;
}
/*表单*/
.app-motto h5{
  font-weight: 600;
  color: #000000;
}
.app-motto dl{
  font-size: 12px;
  margin-bottom: 0;
}
.app-motto dl a{
  text-decoration: none;
  color: #aaaaaa;
}
.app-motto .dl-one , .app-motto .dl-one dt a h5{
  margin-top: 0;
}
.app-motto dd.tips{
  margin-top: 8%;
  letter-spacing: 1px;
}

.app-motto dd.more{
  font-family: "宋体";
  float: right;
  margin-top: 0;
}
.app-logic{
  overflow: hidden;
  padding-bottom:13% ;
}
.app-logic input{
  width: 42%;
  padding: 10px;
  margin-right: 2%;
  margin-bottom: 2%;
  outline-color: #e74f4d;

}
.app-logic textarea{
  padding: 10px;
}
/*.app-logic input.life{*/
  /*width: 87%;*/
  /*height: 56px;*/
/*}*/
.app-logic textarea{
  width: 87%;
  height: 90px;
  outline-color: #e74f4d;
  overflow-y: auto;
}
.app-logic a.submit{
  display: block;
  margin-top: 2%;
  width: 87%;
  padding: 1% 0;
  text-align: center;
  text-decoration: none;
  color: #323333;
  border: 1px solid #aaaaaa;
}
.app-logic a.submit:hover{
  color: #ffffff;
  border-color: #e74f4d;
  background-color: #e74f4d;
}
/*联系我们*/
.app-call{
  color: #ffffff;
  text-align: center;
  background-color: #32353e;
}
.app-call h3{
  margin-top: 7%;
}
.app-call p{
  margin: 0 auto;
  width: 44%;
}
.app-call .email{
  padding: 6px;
  margin: 3% auto;
  width: 40%;
}
.app-call .email-sub{
  padding: 9px 20px;
  color: #ffffff;
  background-color: #6f7178;
}
.app-call .logo{
  margin-bottom: 6%;
}
.app-call .logo span{
  padding: 0 1%;
}
/*底部*/
.app-bottom{
  padding: 20px 70px;
  color: #ffffff;
  background-color: #2f2f38;
}
.app-bottom a{
  color: #ffffff;
  text-decoration: none;
}
.app-bottom a.app-top{
  float: right;
}